.datetime-md {
    padding: 0 !important;
}

#score {
    background-color: white;
}

.score-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-text {
    margin: 0;
    padding: 0;
}